.checkoutimg {
    width: 100%;
    height: 100%;
}

.cartImageContainer {
    width: 80px;
    height: 60px;
    min-width: 80px;
    overflow: hidden;
}

.cartItemTitle {
    margin-bottom: 7px;
    display: inline;
    font-size: 20px;
}

.cartItemsContainer {
    display: inline;
    margin-left: 15px;
}

.cartItemComments  {
    margin-top: 2px;
    margin-bottom: 2px;
    color: #52a5ff ;
    font-size: 18px;
}

.container-row {
    display: flex;
    flex-direction: row;
}

.cartItemPrice {
    color: #8d90a1;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 120px;
    display: inline;
}

.inner {
    display: table;
    margin: 0 auto;
}

.cartItemQuantity {
    margin-right: 50px;
    margin-top: 10px;
    font-size: 18px;
    color: gray;
}

.cartItemImage {
    width: 40px;
    height: 40px;
}

.cartItemPlus, .cartItemPlus:hover, .cartItemPlus:active {
    width: 100%;
    height: 100%;
}

.cartImagePlus, .cartImagePlus:hover, .cartImagePlus:active {
    background-color: black;
}

.cartImageMinus, .cartImageMinus:hover, .cartImageMinus:active {
    background-color: red;
    border: red
}

.cartItemMinus {
    width: 100%;
    height: 100%;
}

.container-row-buttons {
    display: flex;
    flex-direction: row;
    float: right;   
}

.clearAllButton, .clearAllButton:hover, .clearAllButton:active {
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    display: inline;
    background-color: #ee6352;
    border: #ee6352;
    font-weight: 700;
    font-size: 18px;

}

.cartexit {
    display: inline;
    height: 40px;    
    position: absolute;
    margin-top: 11px;
    margin-left: 10px;
}

.checkoutHeaderInnerDiv {
    margin-bottom: 15px;
    padding: 0px;
}

.cartItemRemove {
    width: 100%;
    height: 100%;
}

.cartImageRemove, .cartImageRemove:hover, .cartImageRemove:active {
    background-color: #df0024;
    border: #df0024;
}

.billing {
    position: sticky;
    width: 100%;
    bottom: 50px;
}

.billCount {
    display: inline;
    float: right;
    font-size: 20px;
    color: gray;
}

.billingTitle {
    font-size: 20px;
    color: gray;

}

.billDiv {
    margin-bottom: 5px;
}

.totalTitle {
    font-size: 23px;
    font-weight: 500;
}

.totalCount {
    display: inline;
    float: right;
    font-size: 23px;
    font-weight: 500;
}

.checkoutFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75px;
    color: white;
    background-color: #303030;
    text-align: center;
}

.checkoutBut, .checkoutBut:hover, .checkoutBut:active {
    width: 90%;
    height: 50px;
    margin-left: 10px;
    margin-top: 12px;
    color: white;
    background-color: #52a5ff;
    border: 1px outset #52a5ff;
    font-weight: bold;
}

.checkoutPrice {
    font-size: 20px;
    text-align: center;
}