.footer {
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 80px;
    color: white;
    background-color:#303030;
    text-align: center;
}

.tablenumber {
    font-size: 20px;
    opacity: .5;
    display: inline;
    position: relative;
    float: right;
    margin-right: 0;
}

.restaurantName {
    font-size: 25px;
    display: inline;
}

.headerdiv {
    border-bottom-width: 1px; 
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-top: 0;
    line-height: 50px;
}

.basketspan {
    margin-top: 5px;
    margin-right: 5px;
    font-size: 20px;
    display: inline-block;
    position: center;
}

.basketButton, .basketButton:hover, .basketButton:active {
    height: 60px;
    width: 90%;
    background-color: #52a5ff;
    border: 1px outset #52a5ff;
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
    bottom: 0;
    position: center;
}

.cartbasket {
    display: inline;
    height: 40px; 
    width: 40px;   
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    opacity: .7;
    color: white;
    float: left;
}

.addbut, .addbut:hover, .addbut:active {
    float: right;
    background-color: #52a5ff;
    color: white;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    width: 40px;
}

.addspan {
    font-size: 20px;
    font-weight: bold;
}

.homeimg {
    width: 100%;
    height: 100%;
}

.homeImageContainer {
    width: 80px;
    height: 60px;
    min-width: 80px;
    overflow: hidden;
}

.container-row {
    display: flex;
    flex-direction: row;
}

.homeItemsContainer {
    display: inline;
    margin-left: 15px;
    
}

.homeItemTitle {
    margin-bottom: 10px;
    display: inline;
    font-size: 25px;    
    margin-left: 10px;
}

.homeItemPrice {
    color: #8d90a1;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.homeItemDesc {
    color: #8d90a1;
    font-size: 18px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.tableSelect {
    text-align: center;
}

.tableChoice {
    font-size: 20px;
}

.selectTableButton {
    width: 90px;
    height: 80px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: white;
    border: #52a5ff 2px solid;
    color: #52a5ff;
    border-radius: 3px;
    transition:  #52a5ff !important;
}

.selectTableButton:focus, .selectTableButton:active, .selectTableButton:hover, .selectTableButton::selection {
    width: 90px;
    height: 80px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #52a5ff;
    border: #52a5ff 2px solid;
    color: black;
    border-radius: 3px;
    transition: #52a5ff .15s ease-in-out,box-shadow .15s ease-in-out !important;
}