.footer {
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 80px;
    color: white;
    background-color:#303030;
    text-align: center;
}

.tablenumber {
    font-size: 20px;
    opacity: .5;
    display: inline;
    position: relative;
    float: right;
    margin-right: 10px;
}

.restaurantName {
    font-size: 25px;
    display: inline;
    font-weight: 500;
}

.headerDiv {
    border-bottom: none;
}

.headerInnerDiv {
    top: 0;
    margin: 0;
    position: sticky;
    width: 100%;
    /* border-bottom-width: 1px; 
    border-bottom-style: solid;
    border-bottom-color: black; */
    line-height: 40px;
    z-index: 50;
    padding: 0px;
}

.navDiv {
    border-bottom: none;
    border-top: none;
}

.navInnerDiv {
    padding: 0px;
    line-height: 30px;
    top: 40;
    border-bottom-width: 1px; 
    border-bottom-style: solid;
    border-bottom-color: black;
}

.orderingHome {
    flex-direction: column;
    display: flex;
    margin: 0 auto;
}

.basketspan {
    margin-top: 5px;
    margin-right: 5px;
    font-size: 18px;
    display: inline-block;
    position: center;
}

.basketButton, .basketButton:hover, .basketButton:active {
    height: 60px;
    width: 90%;
    background-color: #52a5ff;
    border: 1px outset #52a5ff;
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
    bottom: 0;
    position: center;
}

.cartbasket {
    display: inline;
    height: 40px; 
    width: 40px;   
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    opacity: .7;
    color: white;
    float: left;
}

.addbut, .addbut:hover, .addbut:active {
    float: right;
    background-color: #52a5ff;
    color: white;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    width: 40px;
}

.addspan {
    font-size: 20px;
    font-weight: bold;
}

.homeimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homeImageContainer {
    width: 150px;
    height: 100px;
    min-width: 80px;
    overflow: hidden;
}

.container-row {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.homeItemContainer {
    margin-left: 15px;  
    width: 100%;
}

.homeItemTitle {
    margin-bottom: 10px;
    display: inline;
    font-size: 20px; 
    font-weight: 500;   
    margin-left: 10px;
    color: black;
}

.homeItemPrice {
    color: black;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
    float: right;
    margin-right: 15px;
}

.homeItemDesc {
    color: #8d90a1;
    font-size: 17px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.tableSelect {
    text-align: center;
    margin-bottom: 100px;
}

.tableChoice {
    font-size: 20px;
}

.selectTableButton {
    width: 90px;
    height: 80px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: white;
    border: #52a5ff 2px solid;
    color: #52a5ff;
    border-radius: 3px;
    transition:  #52a5ff !important;
}

.selectTableButton:focus, .selectTableButton:active, .selectTableButton:hover, .selectTableButton::selection {
    width: 90px;
    height: 80px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #52a5ff;
    border: #52a5ff 2px solid;
    color: black;
    border-radius: 3px;
    transition: #52a5ff .15s ease-in-out, box-shadow .15s ease-in-out !important;
}

.continueButton {
    height: 60px;
    width: 90%;
    background-color: #52a5ff;
    border: 1px outset #52a5ff;
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
    bottom: 0;
    position: center;
}

.typeTitle {
    margin-left: 15px;
    position: relative;
    color: #74788c;
}

.typeTitle span {
    position: absolute;
    top: -98px;
}

.productsDiv {
    width: 100%;
    top: 50px;
    overflow-y: hidden;
    height: 100%;
    position: sticky;
    background-color: #f7f7f7;
}

.orderContainer {
    position: relative;
    height: 100vh;
    overflow: scroll;
}

.orderContainer::-webkit-scrollbar{
    display: none;
    width: 0;
    height: 0;
}

.nav-justified .nav-item, .nav-justified>.nav-link {
    text-align: center;
    font-size: 15px;
    margin-bottom: 15px;
    border-radius: 1px;
    font-weight: 600;
    color: #8d90a1;

    /* border-right-width: 1px; 
    border-right-style: solid;
    border-right-color: black; */

}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white;
    background-color: #52a5ff;
    border-color: #52a5ff #52a5ff #52a5ff;
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
    height: 48px;
    font-weight: 800;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

card {
    width: 100%;
}

hr {
    width: 93%
}
.cardDiv {
    margin-top: 10px;
}
